[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/ccip-cct-starter"]
	path = lib/ccip-cct-starter
	url = https://github.com/Cyfrin/ccip-cct-starter
